*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

@media screen and (min-width: 375px) {
  .main-header {
    height: 3rem;
    padding: 15px 0;
    background-color: #3c3a39;
  }

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .info a {
    font-size: 1rem;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    padding-left: 1rem;
    text-decoration: none;
    animation: moveInLeft 2s ease-in;
  }

  .info img {
    padding-right: 1rem;
    animation: moveInRight 2s ease-in;
  }

  .desktop-navbar {
    display: none;
  }

  .about {
    height: 37rem;
    background-color: #1c1a19;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 12px;
    align-items: flex-start;
    padding: 120px 24px;
    background-image: url(/assets/images/Illustration-header.png);
    background-position: 120% 100%;
    background-size: 120px 200px;
    background-repeat: no-repeat;
  }

  .main-about {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .main-about h1 {
    color: #ff6b00;
    font-size: 56px;
    line-height: 64px;
    font-family: "Crete Round", serif;
    font-style: normal;
    text-transform: capitalize;
  }

  .main-about h2 {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    text-transform: capitalize;
    font-size: 24px;
    line-height: 32px;
  }

  .main-about p {
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
  }

  .social-icons ul {
    display: flex;
    list-style: none;
    width: 10rem;
    height: 2rem;
  }

  .img-tag {
    margin-right: 1rem;
    padding-top: 1rem;
    transition: all 0.3s linear;
  }

  .img-tag:hover {
    transform: scale(1.2);
  }

  .works {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 0 1.4rem;
  }

  .heading-works {
    display: flex;
    flex-direction: column;
    font-family: "Crete Round", serif;
    font-style: normal;
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
    margin-top: 8rem;
    margin-bottom: 5rem;
    letter-spacing: 1.5px;
    color: #1c1a19;
  }

  .underline {
    display: inline-block;
    position: relative;
    width: 100%;
    bottom: -20px;
  }

  .work-detail,
  .work-1__detail {
    display: flex;
    flex-direction: column;
    gap: 13px;
  }

  .img-placeholder {
    align-self: center;
  }

  .main-detail {
    display: flex;
    flex-direction: column;
    gap: 13px;
  }

  .main-detail h3 {
    font-family: "Crete Round", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
  }

  .main-detail p {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  .work-tools ul {
    display: flex;
    gap: 13px;
    padding: 0;
    list-style: none;
  }

  .work-tools ul li {
    text-transform: capitalize;
    background: transparent;
    padding: 0.5rem 0.5rem;
    border: 1px solid #8993a4;
  }

  .see-project a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    border: transparent;
    background: #ff6b00;
    font-size: 17px;
    text-transform: capitalize;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #fff;
    transition: all 0.3s linear;
  }

  .work-stack ul li {
    align-items: center;
    padding: 0.7rem 1rem;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.24);
    border: transparent;
  }

  .details-btn a {
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font-family: "Inter", sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
  }

  .see-project a:link,
  .see-project:visited {
    background-color: #e05304;
    color: #fff;
  }

  .see-project a:hover {
    background-color: #fff5e1;
    color: #f55800;
  }

  .see-project a:disabled {
    background-color: #f4f1f0;
    color: #5b5957;
  }

  .small-button {
    padding: 0.8rem 1rem;
    border-radius: 5px;
  }

  .work-2,
  .work-3,
  .work-4,
  .work-5,
  .work-6,
  .work-7 {
    background-image: linear-gradient(#26262600 0.75%, #26262666 61.94%),
      url(/assets/images/backgroundImage.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 1.8rem;
  }

  .main-detail h4 {
    color: #fff;
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    text-transform: capitalize;
    margin-top: 5.5rem;
    margin-left: 1.1rem;
    margin-right: 1.1rem;
  }

  .paragraph {
    color: #fff;
    margin-left: 1.1rem;
    margin-right: 1.1rem;
  }

  .work-stack {
    margin-left: 1.1rem;
    margin-right: 1.1rem;
  }

  .large-button {
    padding: 1rem 6rem;
    margin-top: 1rem;
  }

  .skills {
    background-color: #1c1a19;
    margin-top: 5rem;
    display: grid;
    grid-template-rows: repeat(2, auto);
    background-image: url(/assets/images/Group.png);
    background-position: 220px 300px;
    background-size: 160px 200px;
    background-repeat: no-repeat;
  }

  .about-skills-details {
    margin: 0 1.4rem 10rem;
    height: 32rem;
    border-bottom: 1px solid #fff;
  }

  .skills-details {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .skills-details h2 {
    color: #ff6b00;
    font-family: "Crete Round", serif;
    font-size: 4rem;
    padding-top: 4rem;
    padding-bottom: 1rem;
    letter-spacing: 0.2rem;
  }

  .skills-details p {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  .details-btn {
    background-color: #ff6b00;
    width: 11rem;
    margin-top: 1.3rem;
    padding: 0.7rem 0.4rem;
    text-align: center;
    font-size: 17px;
    transition: all 0.3s linear;
    border-radius: 5px;
  }

  .details-btn:hover {
    background-color: #ff8743;
  }

  .tech-stack {
    margin: 4rem 1.4rem;
  }

  .stack-skills-heading {
    list-style: none;
    display: grid;
  }

  .stack-heading {
    display: flex;
    justify-content: center;
    gap: 6px;
  }

  .stack-heading img {
    color: #ff6b00;
  }

  .stack-heading h3 {
    color: #fff;
    font-size: 32px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;
  }

  .stack-skills ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    list-style: none;
    margin-top: 3rem;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #fff;
  }

  .stack-skills_styled {
    margin-top: 2rem;
  }

  .contact-info {
    height: 50rem;
    background-color: #fff;
    margin: 0 1.4rem 8rem;
  }

  .contact-info-display {
    display: grid;
  }

  .contact-info-display h3 {
    padding: 120px 0;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
    color: #172b4d;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .contact {
    border: transparent;
    padding: 1rem 0 1rem 1rem;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    outline: none;
  }

  .form-info {
    border-bottom: 1px solid #dbd8d7;
  }

  .text {
    margin-top: 0.7rem;
    background: #fbf8f7;
  }

  .submit {
    display: flex;
    justify-content: center;
  }

  .btn-submit {
    background-color: #ff6b00;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    color: #fff;
    padding: 1rem 0.4rem;
    font-size: 17px;
    transition: all 0.3s linear;
    border: transparent;
    border-radius: 5px;
  }

  .btn-submit:hover {
    background-color: #fff5e1;
    color: #f55800;
  }

  .btn-submit:focus {
    background-color: #e05304;
    color: #fff;
  }

  .btn-submit:disabled {
    background-color: #f4f1f0;
    color: #5b5957;
  }

  .footer-socials ul {
    display: flex;
    gap: 12px;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    border-top: 1px solid #dfe1e6;
  }

  .footer-icon {
    transition: all 0.3s linear;
  }

  .footer-icon:hover {
    transform: scale(1.2);
  }
}

@media screen and (min-width: 380px) {
  .skills {
    background-image: none;
  }

  .skills-details {
    height: 27rem;
  }
}

@media screen and (min-width: 768px) {
  .main-header {
    height: 4rem;
    padding: 20px 0;
  }

  .info {
    justify-content: space-around;
  }

  .info-image {
    display: none;
  }

  .desktop-navbar {
    display: flex;
    list-style: none;
    align-items: center;
    animation: moveInRight 2s ease-in;
  }

  .desktop-navbar li {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-style: normal;
  }

  .about {
    flex-direction: row;
    align-items: center;
    gap: 0;
    background-image: url(/assets/images/Illustration-header.png);
    background-position: 100% -10%;
    background-size: 250px;
    background-repeat: no-repeat;
  }

  .main-about {
    width: 27rem;
    order: 2;
    align-items: flex-start;
    flex-wrap: wrap;
    font-family: "Inter", sans-serif;
  }

  .main-about h2,
  .main-about p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
  }

  .social-icons ul {
    flex-direction: column;
    justify-content: center;
  }

  .heading-works {
    position: relative;
  }

  .heading-works h1 {
    position: absolute;
  }

  .underline {
    position: absolute;
    left: 50%;
    width: 50%;
    bottom: -30px;
  }

  .small-button {
    width: 100%;
  }

  .work-1__detail {
    flex-direction: row;
    gap: 17px;
    max-width: 90%;
  }

  .img-placeholder {
    height: 20rem;
    width: 30rem;
  }

  .main-detail {
    align-items: flex-start;
  }

  .gym-app__detail {
    width: 50%;
  }

  .all-works__detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.4rem;
  }

  .work-common-class {
    position: relative;
  }

  .large-button {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .hide-button {
    opacity: 0;
  }

  .work-2,
  .work-5 {
    background-image: linear-gradient(#26262600 0.75%, #26262666 61.94%),
      url(/assets/images/backgroundImage.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 1.8rem;
  }

  .work-3,
  .work-6 {
    background-image: linear-gradient(#26262600 0.75%, #26262666 61.94%),
      url(/assets/images/backgroundImage2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 1.8rem;
  }

  .work-4,
  .work-7 {
    background-image: linear-gradient(
        to bottom,
        #26262600 0.75%,
        #26262666 61.94%
      ),
      url(/assets/images/backgroundImage3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 1.8rem;
  }

  .work-common-class:hover {
    background-image: url(/assets/images/imgReplacer.png);
  }

  .work-common-class:hover .main-detail {
    opacity: 0;
  }

  .work-common-class:hover .hide-button {
    opacity: 1;
  }

  .skills {
    background-image: url(/assets//images/About-img-desktop.png);
    background-position: 100% 10%;
    background-repeat: no-repeat;
    background-size: 300px;
  }

  .skills-details {
    width: 45%;
  }

  .stack-skills-heading {
    gap: 5rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .stack-skills_styled {
    margin-top: 0;
  }

  .stack-skills ul {
    display: grid;
    align-items: start;
  }

  .contact-info {
    height: 40rem;
    margin: 0 5rem 0;
  }

  .contact-info-display {
    gap: 3rem;
    grid-template-columns: 40% 1fr;
    height: 30rem;
  }

  .contact-info-display h3 {
    padding: 120px 0 0;
    text-align: start;
    color: #262626;
  }

  .contact-form {
    padding: 120px 0 0;
  }

  .submit {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 799px) and (max-width: 1200px) {
  .about {
    background-image: url(/assets/images/Illustration-header.png);
    background-position: 100% -10%;
    background-size: 300px;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1200px) {
  .about {
    background-image: url(/assets/images/Illustration-header.png);
    background-position: 100% -10%;
    background-size: 400px;
  }

  .all-works__detail {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 450px);
  }

  .skills {
    background-image: url(/assets//images/About-img-desktop.png);
    background-position: 100% 10%;
    background-repeat: no-repeat;
    background-size: 450px;
  }

  .img-placeholder {
    height: 30rem;
    width: 40rem;
  }

  .gym-app__detail {
    width: 30%;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}