*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

@media screen and (min-width: 375px) {
  .main-header {
    height: 3rem;
    padding: 15px 0;
    background-color: #3c3a39;
  }

  .info {
    display: flex;
    justify-content: space-between;
  }

  .info a {
    font-size: 1rem;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    padding-left: 1rem;
    text-decoration: none;
  }

  .info img {
    padding-right: 1rem;
  }

  .about {
    height: 37rem;
    background-color: #1c1a19;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 12px;
    align-items: flex-start;
    padding: 120px 24px;
    background-image: url(/assets/images/Illustration-header.png);
    background-position: 120% 100%;
    background-size: 120px 200px;
    background-repeat: no-repeat;
  }

  .about h1 {
    color: #ff6b00;
    font-size: 56px;
    line-height: 64px;
    font-family: "Crete Round", serif;
    font-style: normal;
    text-transform: capitalize;
  }

  .about h2 {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    text-transform: capitalize;
    font-size: 24px;
    line-height: 32px;
  }

  .about p {
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
  }

  .social-icons ul {
    display: flex;
    list-style: none;
    width: 10rem;
    height: 2rem;
  }

  .img-tag {
    margin-right: 1rem;
    padding-top: 1rem;
    transition: all 0.3s linear;
  }

  .img-tag:hover {
    transform: scale(1.2);
  }

  .works {
    background-color: #fff;
    margin: 0 1.4rem;
  }

  .heading-works {
    display: flex;
    flex-direction: column;
    font-family: "Crete Round", serif;
    font-style: normal;
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
    margin-top: 8rem;
    margin-bottom: 5rem;
    letter-spacing: 1px;
    color: #1c1a19;
    padding-bottom: 3rem;
    border-bottom: 1px solid #212121;
  }

  .underline {
    margin-top: 2.2rem;
    color: #fff;
  }

  .work-details {
    display: grid;
    grid-template-rows: repeat(7, auto);
  }

  .work-detail {
    display: flex;
    flex-direction: column;
    gap: 13px;
  }

  .img-placeholder {
    align-self: center;
  }

  .main-detail {
    display: flex;
    flex-direction: column;
    gap: 13px;
  }

  .main-detail h3 {
    font-family: "Crete Round", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
  }

  .main-detail p {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  .work-tools ul {
    display: flex;
    gap: 13px;
    padding: 0;
    list-style: none;
  }

  .work-tools ul li {
    text-transform: capitalize;
    background: transparent;
    padding: 0.5rem 0.5rem;
    border: 1px solid #8993a4;
  }

  .see-project button {
    border: transparent;
    background: #ff6b00;
    font-size: 17px;
    text-transform: capitalize;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #fff;
    transition: all 0.3s linear;
  }

  .work-stack ul li {
    align-items: center;
    padding: 0.7rem 1rem;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.24);
    border: transparent;
  }

  .see-project button:hover {
    background-color: #fff5e1;
    color: #f55800;
  }

  .see-project button:focus {
    background-color: #e05304;
    color: #fff;
  }

  .see-project button:disabled {
    background-color: #f4f1f0;
    color: #5b5957;
  }

  .small-button {
    padding: 0.8rem 1rem;
    border-radius: 5px;
  }

  .work-2 {
    background-image: linear-gradient(#26262600 0.75%, #26262666 61.94%),
      url(/assets/images/backgroundImage.png);
    background-repeat: no-repeat;
    margin-top: 1.8rem;
  }

  .main-detail h4 {
    color: #fff;
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    text-transform: capitalize;
    margin-top: 5.5rem;
    margin-left: 1.1rem;
    margin-right: 1.1rem;
  }

  .paragraph {
    color: #fff;
    margin-left: 1.1rem;
    margin-right: 1.1rem;
  }

  .work-stack {
    margin-left: 1.1rem;
    margin-right: 1.1rem;
  }

  .large-button {
    padding: 1rem 6rem;
    width: 100%;
    margin-top: 1rem;
  }

  .skills {
    background-color: #1c1a19;
    margin-top: 5rem;
    display: grid;
    grid-template-rows: repeat(2, auto);
    background-image: url(/assets/images/Group.png);
    background-position: 220px 300px;
    background-size: 160px 200px;
    background-repeat: no-repeat;
  }

  .skills-details {
    margin: 0 1.4rem 10rem;
    height: 32rem;
    border-bottom: 1px solid #fff;
  }

  .skills-details h2 {
    color: #ff6b00;
    font-family: "Crete Round", serif;
    font-size: 4rem;
    padding-top: 4rem;
    padding-bottom: 1rem;
    letter-spacing: 0.2rem;
  }

  .skills-details p {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  .details-btn {
    background-color: #ff6b00;
    width: 11rem;
    margin-top: 1.3rem;
    padding: 0.7rem 0.4rem;
    text-align: center;
    font-size: 17px;
    transition: all 0.3s linear;
    border-radius: 5px;
  }

  .details-btn:hover {
    background-color: #ff8743;
  }

  .details-btn a {
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font-family: "Inter", sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
  }

  .tech-stack {
    margin: 4rem 1.4rem;
  }

  .tech-stack ul {
    list-style: none;
  }

  .stack-heading {
    display: flex;
    justify-content: center;
    gap: 12px;
  }

  .stack-heading img {
    color: #ff6b00;
  }

  .stack-heading h3 {
    color: #fff;
    font-size: 32px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;
  }

  .stack-skills ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    list-style: none;
    margin-top: 3rem;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #fff;
  }

  .stack-skills_styled {
    margin-top: 2rem;
  }

  .contact-info {
    height: 50rem;
    background-color: #fff;
    margin: 0 1.4rem 8rem;
  }

  .contact-info h3 {
    padding: 120px 0;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
    color: #172b4d;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .contact {
    border: transparent;
    padding: 1rem 0 1rem 1rem;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    outline: none;
  }

  .form-info {
    border-bottom: 1px solid #dbd8d7;
  }

  .text {
    margin-top: 0.7rem;
    background: #fbf8f7;
  }

  .submit {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-submit {
    background-color: #ff6b00;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    color: #fff;
    padding: 1rem 0.4rem;
    font-size: 17px;
    transition: all 0.3s linear;
    border: transparent;
    border-radius: 5px;
  }

  .btn-submit:hover {
    background-color: #fff5e1;
    color: #f55800;
  }

  .btn-submit:focus {
    background-color: #e05304;
    color: #fff;
  }

  .btn-submit:disabled {
    background-color: #f4f1f0;
    color: #5b5957;
  }

  .footer-socials ul {
    display: flex;
    gap: 12px;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    border-top: 1px solid #dfe1e6;
  }

  .footer-icon {
    transition: all 0.3s linear;
  }

  .footer-icon:hover {
    transform: scale(1.2);
  }
}

@media screen and (min-width: 380px) {
  .skills {
    background-image: none;
  }

  .skills-details {
    height: 27rem;
  }
}

@media screen and (min-width: 768px) {
}
